<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/crm.css" /> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sideBar.css"> 
    <link rel="stylesheet" href="/css/crm-principal-content.css"> 
    <link
      rel="shortcut icon"
      href="/utilites/favicon.ico"
      type="image/x-icon"
    />
    <title>CRM</title>
  </head>
  <body> 
   
    <main class="content">
      <header class="cabecalho">
        <div class="notification-area">
          <div class="notification-img">
            <img src="/utilites/notifications-icon]].svg" alt="" />
          </div>
          <div class="notification-text">Notificações</div>
          <div class="number-of-notifications">4</div>
        </div>
        <div class="user-dados">
          <div class="user-name">
            <p class="Username">Olá, <span class="name-user"><%=user.nome %></span></p>
          </div>
          <a href="/settings/index/">
            <img
              id="user-foto"
              class="user-foto"
              src="/uploads/<%=user.userPhoto %>"
              alt=""
            />
          </a>
        </div>
      </header>
      <div class="slidebar">
        <div class="logo">
          <img src="/utilites/logo.svg" alt="" />
        </div>
        <ul class="links-bar">
          <li>
            <a href="/dashboard/index/"
              ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-grid-1x2" viewBox="0 0 16 16">
                <path d="M6 1H1v14h5zm9 0h-5v5h5zm0 9v5h-5v-5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z"/>
              </svg></a>
          </li>
          <li>
            <a href="#"
              ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
              </svg></a>
          </li>
          <li>
            <a href="/home/index/"
              ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
              </svg></a>
          </li> 
          <li id="products">
            <a href="/product/index/">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-hexagon" viewBox="0 0 16 16">
                <path d="M14 4.577v6.846L8 15l-6-3.577V4.577L8 1zM8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866z"/>
              </svg>
             </a>
          </li>
          <li>
            <a href="/sales/index/">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                  </svg>
            </a>
        </li>
          <li id="sentings" >
            <a href="/settings/index/">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/>
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/>
              </svg>
            </a>
          </li> 
          <li id="exit">
            <a href="/home/index/logout">
             <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-unindent" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M13 8a.5.5 0 0 0-.5-.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H12.5A.5.5 0 0 0 13 8"/>
               <path fill-rule="evenodd" d="M3.5 4a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 1 0v-7a.5.5 0 0 0-.5-.5"/>
             </svg>
            </a> 
         </li>
        </ul> 
        
      </div>
      <main class="main-content">
        <!--seção dos users-->
        <section class="lead-area">
          <div id="noContato" dropzone="move" class="noContato">
            <div class="area-status">
              <h2>Não Contatado</h2>
              <div class="icon">
                <img src="/utilites/no-contat.svg" alt="" />
              </div>
            </div>
            <% allLeads.forEach(lead=> { %>
              <div class="lead" draggable="true">
                <div class="indenfication">
                  <div class="lead-foto">
                    <img src="/utilites/user.png" alt="" />
                  </div>
                  <div class="lead-name">
                    <p class="name-lead"> <%=  lead.name %> </p>
                  </div>
                </div>
                <div class="infos">
                  <div class="tel">
                    <div class="tel-icon"><img src="/utilites/tell.svg" alt=""></div>
                    <div class="tel-area-text">
                      <p id="Tell" class="Tell"> <%=  lead.tel %></p>
                    </div>
                  </div>
                  <div class="mail">
                    <div class="mail-icon"><img src="/utilites/email.png" alt=""></div>
                    <div class="mail-area-text">
                      <p id="Mail" class="mail"> <%= lead.email%></p>
                      <p> 
                    </div>
                  </div>
                </div>
              </div> 
           <% }) %>

          </div>
          <div id="contatado" dropzone="move" class="contatado">
            <div class="area-status">
              <h2>Contatado</h2>
              <div class="icon">
                <img src="/utilites/contat.svg" alt="" />
                <div id="area-append" class="area-append"></div>
              </div>
            </div>
          </div>
          <div id="vendido" dropzone="move" class="vendido">
            <div class="area-status">
              <h2>Vendido</h2>
              <div class="icon">
                <img src="/utilites/sale.svg" alt="" />
                <div id="area-append" class="area-append"></div>
              </div>
            </div>
          </div>
          <div id="pos-venda" dropzone="move" class="pos-venda">
            <div class="area-status">
              <h2>Pós Venda</h2>
              <div class="icon">
                <img src="/utilites/pos.svg" alt="" />
                <div id="area-append" class="area-append"></div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </main>
    <script src="/js/Jquery/code.jquery.com_jquery-3.7.1.js"></script>
    <script src="/js/crm-animations.js"></script>
  </body>
</html>
