<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/editpage.css" /> 
  <link rel="stylesheet" href="/css/profilePhoto.css" />

    <title>Editar <%= leadForEdit.name  %> </title>
</head>
<body> 
  <div class="register">
      <fieldset id="register-area" class="register-area">
        <form enctype="multipart/form-data" id="form-body" action="/home/update/<%=leadForEdit._id %>" method="POST">
            <div class="simple"> 
              
              <div class="new-lead-img">  
                <div class="profile-pic">
                <label class="-label" for="file">
                  <span class="glyphicon glyphicon-camera"></span>
                  <span>Change Image</span>
                </label> 
                <% if(leadForEdit.photoLead)  { %>
                  <input id="file" type="file" name="photoLead" onchange="loadFile(event)"/>
                <img src="/uploads/<%= leadForEdit.photoLead %>"  class="output"  id="output" width="200" />
                <% }else { %>
                  <input id="file" type="file" name="photoLead" onchange="loadFile(event)"/>
                <img src="/utilites/user.png" class="output"  id="output" width="200" />
                 <% }%>  
                </div>
              </div> 
              <div class="inputs">
                <input name="name" required id="nome" type="text" value = "<%= leadForEdit.name %> " placeholder="Nome" />
                <img src="/utilites/nameicon.svg" alt="" />
                <small id="avisoName" style="color: rgb(213, 100, 100); font-weight: bold"></small>
              </div>
              <div class="inputs">
                <input name="tel" id="tel" type="tel" placeholder="Telefone" value= "<%= leadForEdit.tel %>"  />
                <img src="/utilites/tellicon.svg" alt="" />
                <small id="avisoTell" style="color: rgb(213, 100, 100); font-weight: bold"></small>
              </div>
              <div class="inputs">
                <input name="email" id="mail" type="email" placeholder="E-mail" value = "<%= leadForEdit.email %>" />
                <img src="/utilites/email-icon.svg" alt="" />
                <small id="avisoEmail" style="color: rgb(213, 100, 100); font-weight: bold"></small>
              </div>
              <select required name="typeLead" id="type_lead"> 
              <% if(leadForEdit.typeLead == "Cliente")  {%>
                <option value="Cliente" selected>Cliente</option> 
                <option value="Fornecedor" >Fornecedor</option>

              <%} else { %> 
                <option value="Fornecedor" selected>Fornecedor</option> 
                <option value="Cliente">Cliente</option> 

              <% } %>
              </select>
            </div>
            <!-- AREA DE INFORMAÇÕES DE LOCAL -->
            <div class="lead-local-infos">
              <div class="title-area">
                <h2>Localização</h2>
                <img src="/utilites/location.svg" alt="" />
              </div>
              <select required name="uf" id="uf"> 
              
                 <option value="<%= leadForEdit.uf %> " selected>
                  <%= leadForEdit.uf %>
                </option> 
               
              </select>
              <select required name="city" id="cidade"> 
                <% if(leadForEdit.city) { %>
                <option value="<%= leadForEdit.city %>"  selected>
                  <%= leadForEdit.city %>
                </option> 
                <% } %>
              </select>
              <input required id="date" min="" max="" name="Data" value = "<%=leadForEdit.date %> "  type="datetime-local" />
            </div>
            <!-- AREA DE MATERIAIS -->
            <div class="material-area-info">
              <div class="title-area">
                <h2>Material</h2>
                <img src="/utilites/material.svg" alt="" />
              </div>
              <select name="material" id="material" required>
                <option value="Disable" disabled selected>
                  Escolha a Modalidade
                </option>
                <option value="Nenhum">Não Informado</option>
                <option value="Plastico">Plástico</option>
                <option value="Metal">Metal</option>
                <option value="Papel">Papel</option>
                <option value="Vidro">Vidro</option>
                <option value="Prensas">Prensas</option>
                <option value="Info-Produto">Info-Produto</option>
                <option value="Frete">Frete</option>
                <option value="Frete">Associações cooperativas</option>
              </select>
              <select name="typeOfMaterial" id="TipoDeMaterial" required>
                <option value="Disable" disabled selected>
                  Escolha o Tipo de Material
                </option>
              </select>
              <select name="process" id="Processo" required>
                <option value="Disable" disabled selected>
                  Escolha o Tipo de Processo
                </option>
                <option value="Moído e Lavado">Moído e Lavado</option>
                <option value="Granulado">Granulado</option>
                <option value="Enfardado">Enfardado</option>
                <option value="Solto">Solto</option>
                <option value="Prensado">Prensado</option>
                <option value="Nenhum">Nenhum</option>
              </select>
              <select name="colaborator" required id="responsavel">
                <option selected disabled value="disable">
                  Selecione o Responsável
                </option>
                <% allUsers.forEach(users=>{ %>
                  <option value=<%=`${users.nome}` %> >
                    <%= users.nome %>
                  </option>
                  <% }) %>
    
              </select>
            </div>
            <button id="register-btn">Editar</button>
          </form>
        </fieldset>
      </div> 
      <script src="/js/Jquery/code.jquery.com_jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
    integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <script type="module" src="/js/Home.js"></script>
  <script src="/js/HomeAnimations.js"></script>
</body>
</html>

