<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Thiago Duarte Miranda Dias" />
  <link rel="stylesheet" href="/css/Home.css" />
  <link rel="shortcut icon" href="assets/utilites/logo.svg" type="image/x-icon" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/sideBar.css" /> 
  <link rel="stylesheet" href="/css/profilePhoto.css" />
  <link rel="stylesheet" href="/css/principal-area.css" />
  <link rel="stylesheet" href="/css/register-area-product.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/more-infos.css" />
  <link rel="stylesheet" href="/css/search.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <title>Lead Nexus</title>
</head>

<body>
  <!-- REGISTER-AREA -->

  <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fs-5" id="offcanvasRightLabel">Novo Produto</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <fieldset id="register-area" class="register-area d-flex align-items-start justify-content-center">
        <form   enctype="multipart/form-data" class="row g-3 w-100" action="/product/create/" method="post">  
          <div class="w-100 d-flex align-items-center justify-content-start ">
            <div class="profile-pic">
              <label class="-label" for="file">
                <span class="glyphicon glyphicon-camera"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                  <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                  <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                </svg></span>
                <span>Change Image</span>
              </label> 
              <input id="file" type="file" name="productPhoto" accept="image/png image/jpg image/jpeg" onchange="loadFile(event)"/>
              <img src="/utilites/user-photo.png" id="output" width="200" />
            </div>
          </div>
          <div class="col-md-6"> 
            <label for="inputProduct4" class="form-label">Nome do Produto</label>
            <input type="text" class="form-control" name="name" required id="inputProduct4">
          </div>
          <div class="col-md-6">
            <label for="inputSKU4" class="form-label">SKU</label>
            <input type="text" name="sku" class="form-control"  required id="inputSKU4" placeholder="SKU-CODE">
          </div>
          <div class="col-md-6">
            <label for="inputDesc" class="form-label">Categoria <span
                style="color: #0B5ED7; font-weight: bold; cursor: pointer;" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">+</span></label>
            <select class="form-select" required name="category" aria-label="Default select example">
              <option selected disabled>Selecione a Categoria</option>
              <% categories.forEach(category=>{ %>
                <option value="<%= category.name %>">
                  <%= category.name %>
                </option>
                <% }) %>
                  <option value="Nenhum">Nenhum</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputDesc" class="form-label">Descrição</label>
            <input type="text"  required class="form-control" name="description" id="inputDesc"
              placeholder="Descrição do Produto">
          </div>
          <div class="col-md-6">
            <label for="inputWeight" class="form-label">Peso(kg)</label>
            <input type="number"required  name="weight" class="form-control" id="inputWeight" placeholder="Peso do Produto">
          </div>
          <div class="col-md-6">
            <label for="inputWeight" class="form-label">Preço R$</label>
            <input type="number" required name="price" format="currency" precision="2" class="money form-control" id="inputWeight" placeholder="R$ 00,00">
          </div>
          <div class="col-md-6">
            <label for="inputBrand" class="form-label">Marca</label>
            <input type="text" required name="brand" class="form-control" id="inputBrand">
          </div>
          <div class="col-md-4">
            <label for="inputProcess" class="form-label">Processo <span
                style="color: #0B5ED7; font-weight: bold; cursor: pointer;" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">+</span></label>
            <select required id="inputProcess" name="process" class="form-select">
              <option selected disabled>Escolha o Processo</option>
              <% allProcess.forEach(prcss=>{ %>
                <option value="<%= prcss.process %>">
                  <%= prcss.process %>
                </option>
                <% }) %>
                  <option value="Nenhum">Nenhum</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputDate" class="form-label">Date</label>
            <input  required type="datetime-local" name="date" class="form-control" id="inputDate">
          </div>
         
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <!--Modal de categorias-->
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Adicionar Categoria</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form class="row gy-2 gx-3 align-items-center" action="/category/create/" method="post">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInput">Nome</label>
          <input required type="text" class="form-control" id="autoSizingInput" name="name" placeholder="Categoria">
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
      <ul class="list-group p-2">
        <li class="list-group-item active" aria-current="true">Categorias</li>
        <% categories.forEach(category=>{ %>
          <li class="list-group-item">
            <div class="modal-item-body d-flex  align-items-center justify-content-start flex-row">
              <%= category.name %>
                <a class="position-absolute end-0 h-25 w-25" href="/category/delete/<%=category._id %>"><button
                    type="button" class="btn-close" aria-label="Close"></button></a>
             </div>
             
          </li>
          <% }) %>

      </ul>
    </div>
  </div>

  <!--Modal de processo  -->
  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Adicionar Processo</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <form class="row gy-2 gx-3 align-items-center" action="/process/create/" method="POST">
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Processo</label>
            <input required type="text" class="form-control" id="autoSizingInput" name="process" placeholder=" Nome do Processo">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
      <ul class="list-group p-2">
        <li class="list-group-item active" aria-current="true">Processo</li>
        <% allProcess.forEach(prcss=>{ %>
          <li class="list-group-item">
            <div class="modal-item-body d-flex  align-items-center justify-content-start flex-row">
              <%= prcss.process %>
                <a class="position-absolute end-0 h-25 w-25" href="/process/delete/<%=prcss._id %>"><button
                    type="button" class="btn-close" aria-label="Close"></button></a>
            </div>
          </li>
          <% }) %>

      </ul>
    </div>
  </div>

  <!--Area Principal -->
  <main id="content" class="content">
    <%- include("Header.ejs",{user: user}) %>
    <div class="slidebar">
      <div class="logo">
        <img src="/utilites/logo.svg" alt="LOGO" />
      </div>
      <ul class="links-bar">
        <% if(user.office!== "Administrador") { %>  
          <li> 
            <a href="/dashboard/index/">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black"
                class="bi bi-grid-1x2" viewBox="0 0 16 16">
                <path
                  d="M6 1H1v14h5zm9 0h-5v5h5zm0 9v5h-5v-5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z" />
              </svg>
            </a>
          </li> 
          <% }else { %>
            <li> 
              <a href="/dashboardadm/index/"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black"
                  class="bi bi-grid-1x2" viewBox="0 0 16 16">
                  <path
                    d="M6 1H1v14h5zm9 0h-5v5h5zm0 9v5h-5v-5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z" />
                </svg>
              </a>
            </li> 
         <% } %> 
        <% if(user.office ==="Administrador") { %>
          <li>
            <a href="/allUsers/index/">
              <svg xmlns="http://www.w3.org/2000/svg" width="3o" height="30" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </a>
          </li>
          <% } %> 
        <li>
          <a href="/crm/index/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black"
              class="bi bi-heart" viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg></a>
        </li>
        <li>
          <a href="/home/index/">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-people" viewBox="0 0 16 16">
              <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/home/index/">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-box-seam-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z"/>
            </svg>
          </a>
        </li>
        <li>
          <button id="new-Lead " class=" border border-0 bg-transparent" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
          </button>
        </li> 
        <% if(user.office ==="Administrador") { %>
          <a href="/sales/index/">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-currency-dollar"
              viewBox="0 0 16 16">
              <path
                d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
            </svg>
          </a>
        </li>
        <% } %>
        <li id="sentings">
          <a href="/settings/index/">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-gear"
              viewBox="0 0 16 16">
              <path
                d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
              <path
                d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
            </svg>
          </a>
        </li>
        <li id="exit">
          <a href="/home/index/logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-unindent"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M13 8a.5.5 0 0 0-.5-.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H12.5A.5.5 0 0 0 13 8" />
              <path fill-rule="evenodd" d="M3.5 4a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 1 0v-7a.5.5 0 0 0-.5-.5" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <main class="dash">

      <% if(allProducts.length>0 ) { %>
        <section class="area-product w-100">
          <table class="table  table-borderless table-hover">
           
            <div class="buttons-action position-relative end-0">
              <button type="button" id="export"  class="btn btn-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
                <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z"/>
              </svg></button>
             
            </div>
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Produto/Serviço</th>
                <th>Categoria</th>
                <th>Processo</th>
                <th> Marca </th>
                <th>Peso</th>
                <th>Preço</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% let i=0 ; %>
                <% allProducts.forEach((product)=> { %>

                  <% i++ %>
                    <tr id="lead-" <% i %> >
                      <td>
                        <%= i %>
                      </td>
                      <td id="nome-lead"> 
                        <% if(product.productPhoto) { %> 
                          <div >
                            <img class="img-thumbnail" width="40" height="50" src="/uploads/<%= product.productPhoto %>" alt="">
                          </div> 
                         <% } else { %> 
                          <div  class="img-thumbnail" class="lead-img">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-box-seam" viewBox="0 0 16 16">
                              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                            </svg>
                          </div> 
                         <%  }%>
                     
                        <span class="badge rounded-pill text-bg-dark"> <%= product.name %></span>
                       
                      </td>
                      <td> 
                        <% if(product.category ==="Nenhum" || product.category ==="Selecione a Categoria" ) { %> 
                          <span class="badge rounded-pill text-bg-warning"> <%= product.category %></span>
                         <% } else { %>
                          <span class="badge rounded-pill text-bg-secondary">  <%= product.category %></span>
                        <% } %>
                        
                      </td>
                      <td> 
                        <% if(product.process ==="Nenhum" || product.process ==="Escolha o Processo" ) { %> 
                          <span class="badge rounded-pill text-bg-warning"> <%= product.process %></span>
                         <% } else { %>
                          <span class="badge rounded-pill text-bg-secondary"><%= product.process %> </span>  
                        <% } %>
                      </td>
                      <td> 
                        <span class="badge rounded-pill text-bg-primary"> <%= product.brand %></span>
                       
                      </td>
                      <td>
                        <span class="badge rounded-pill text-bg-secondary"><%= product.weight %>(Kg)</span>  
                      </td> 
                      <td> 
                        <% if( product.price  < 0) { %>
                          <span class="badge rounded-pill text-bg-danger">  R$ <%= product.price %></span>
                      <% } else { %>
                        <span class="badge rounded-pill text-bg-success">  R$ <%= product.price %></span>
                      <% } %>
                        
                      </td>
                      <td class="d-flex">
                        <button type="button" class="btn btn-dark s," data-bs-toggle="offcanvas"
                          data-bs-target="#OffcanvasRight<%= i %>" aria-controls="OffcanvasRight<%= i %>"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pen" viewBox="0 0 16 16">
                            <path
                              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                          </svg>
                        </button>
                        <!-- Modal -->
                        <div class="offcanvas  offcanvas-end  w-50" tabindex="-1" id="OffcanvasRight<%= i %>"
                          aria-labelledby="offcanvasRightLabel">
                          <div class="offcanvas-header">
                            <h5 class="offcanvas-title fs-5" id="offcanvasRightLabel">Editar Produto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                              aria-label="Close"></button>
                          </div>
                          <div class="offcanvas-body">
                            <fieldset id="register-area"class="register-area d-flex align-items-center justify-content-start flex-column ">
                              <form  enctype="multipart/form-data" class="row g-3 w-100 " action="/product/edit/<%=product._id%>" method="post">
                                <div class="w-100 d-flex align-items-center justify-content-start ">
                                  <div class="profile-pic">
                                    <label class="-label" for="file-<%= i %>">
                                      <span class="glyphicon glyphicon-camera"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                                        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                                        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                      </svg></span>
                                      <span>Change Image</span>
                                    </label>  
                                    <% if(product.productPhoto)  { %>
                                      <input id="file-<%= i %>" type="file" name="productPhoto-edited" onchange="loadFileEdit(event,'<%=i%>')"/>
                                    <img src="/uploads/<%= product.productPhoto %>"  class="output"  id="output-<%= i %>" width="200" />
                                    <% }else { %>
                                      <input id="file-<%= i %>" type="file" name="productPhoto-edited" onchange="loadFileEdit(event,'<%=i%>')"/>
                                    <img src="/utilites/user-photo.png" class="output"  id="output-<%= i %>" width="200" />
                                     <% }%>
                                    
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <label for="inputProduct4" class="form-label">Nome do Produto</label>
                                  <input type="text" class="form-control" required name="name" value="<%= product.name %>"
                                    id="inputProduct4">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputSKU4" class="form-label">SKU</label>
                                  <input type="text" name="sku" required value="<%= product.sku %>" class="form-control"
                                    id="inputSKU4" placeholder="SKU-CODE">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputCategory<%=i%>" class="form-label">Categoria <span
                                      style="color: #0B5ED7; font-weight: bold; cursor: pointer;"
                                      data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                                      aria-controls="offcanvasWithBothOptions">+</span></label>
                                  <select required id="inputCategory<%=i%>" class="form-select" name="category"
                                    aria-label="Default select example">
                                    <option selected>Selecione a Categoria</option>
                                    <% categories.forEach(category=>{ %>
                                      <option value="<%= category.name %>">
                                        <%= category.name %>
                                      </option>
                                      <% }) %>
                                        <option value="Nenhum">Nenhum</option>
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <label for="inputDesc" class="form-label">Descrição</label>
                                  <input required type="text" class="form-control" value="<%= product.description %>"
                                    name="description" id="inputDesc" placeholder="Descrição do Produto">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputWeight" class="form-label">Peso(kg)</label>
                                  <input required type="text" name="weight" value="<%= product.weight%>" class="money form-control"
                                    id="inputWeight" placeholder="Peso do Produto">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputWeight" class="form-label">Preço R$</label>
                                  <input required type="text" name="price" class=" money form-control" value="<%= product.price %>"
                                    id="inputWeight" placeholder="R$ 00,00">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputBrand" class="form-label">Marca</label>
                                  <input required type="text" name="brand" value="<%= product.brand %>" class="form-control"
                                    id="inputBrand">
                                </div>
                                <div class="col-md-4">
                                  <label for="inputProcess<%=i%>" class="form-label">Processo <span
                                      style="color: #0B5ED7; font-weight: bold; cursor: pointer;"
                                      data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                                      aria-controls="staticBackdrop">+</span></label>
                                  <select required id="inputProcess<%=i%>" name="process" class="form-select">
                                    <option selected>Escolha o Processo</option>
                                    <% allProcess.forEach(prcss=>{ %>
                                      <option value="<%= prcss.process %>">
                                        <%= prcss.process %>
                                      </option>
                                      <% }) %>
                                        <option value="Nenhum">Nenhum</option>

                                  </select>
                                </div>
                                <div class="col-md-2">
                                  <label for="inputDate" class="form-label">Date</label>
                                  <input required type="datetime-local" value="<%= product.date %>" name="date"
                                    class="form-control" id="inputDate">
                                </div>

                                <div class="col-12">
                                  <button type="submit" class="btn btn-primary">Editar Produto</button>
                                </div>
                              </form>
                            </fieldset>
                          </div>
                        </div>

                        <!--Button delete-->
                        <a href="/product/delete/<%= product._id  %>">
                          <button type="button" class="btn btn-danger mx-1"><svg xmlns="http://www.w3.org/2000/svg"
                              width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg></button>
                        </a>

                      </td>
                    </tr>
                <% }); %>
            </tbody>
          </table>
        </section>

        <% }else { %>
          <div class="alert alert-warning text-center position-fixed " role="alert">
            Nenhum produto cadastrado.
          </div>

          <% } %>

    </main>

    <div class="search">
      <button id="button-search" class="button-seach">
        <img src="/utilites/search.svg" alt="" />
      </button>
      <input id="Search-bar" placeholder="Pesquisar..." type="search" class="Barra-de-Pesquisa" />
    </div>

  </main>
 

  <!-- SCRIPTS--> 

  <script>
    var loadFileEdit = function (event,i) {
    var image = document.getElementById(`output-${i}`);
    image.src = URL.createObjectURL(event.target.files[0]);
   }
  </script>
  <script src="/js/Jquery/code.jquery.com_jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
    integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script type="module" src="/js/Home.js"></script> 
  <script  src="/js/table2excel.js"></script>

  <script src="/js/HomeAnimations.js"></script>
</body>

</html>